/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v15-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat/montserrat-v15-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat/montserrat-v15-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-v15-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat/montserrat-v15-latin_cyrillic-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-800.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #f6f6f8;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.footer__list, .standart__wrap, .works__list {
  border-bottom: 1px solid #e0e0e0;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.section-title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.page-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.56;
  color: #999999;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-item {
  margin-right: 30px;
}

.list-item:last-child {
  margin-right: 0;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 45px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  background: #4985ff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: #4985ff;
  background-color: transparent;
  border: 1px solid #4985ff;
}

.header {
  position: absolute;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  width: 100%;
  left: 0;
  top: 0;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-list__item {
  margin-right: 40px;
}

.menu-list__item:last-child {
  margin-right: 0;
}

.menu-list__link {
  position: relative;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 2px solid;
  background: #4985ff;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link:hover, .menu-list__link:focus {
  color: #4985ff;
}

.menu-list__link:hover::after, .menu-list__link:focus::after {
  opacity: 1;
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #f6f6f8;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
}

.footer__subtitle {
  display: inline-block;
  margin-bottom: 35px;
}

.footer__copyright {
  margin-top: 30px;
  font-size: 13px;
  line-height: 1.62;
  text-align: center;
  color: #999999;
}

.footer-submenu__item {
  margin-bottom: 30px;
}

.footer-submenu__icon-address {
  margin-right: 15px;
}

.footer-submenu__address {
  font-style: normal;
}

.footer-submenu__icon-arrow {
  margin-right: 10px;
}

.footer-submenu__page-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
  fill: #999999;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submenu__page-text:hover, .footer-submenu__page-text:focus {
  color: #4985ff;
  fill: #4985ff;
}

.hero {
  margin: 0 auto;
  height: 900px;
  background-color: #323232;
  text-align: center;
  padding-top: 319px;
  padding-bottom: 335px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/main_bg.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/main_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero__title {
  width: 829px;
  margin: 0 auto 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.mobile {
  padding-top: 110px;
  padding-bottom: 105px;
}

.mobile__section-title {
  width: 739px;
  margin: 0 auto 50px;
  text-align: center;
  color: #323232;
}

.mobile__page-text {
  width: 730px;
  margin: 0 auto 70px;
  text-align: center;
}

.mobile__list {
  margin-bottom: 55px;
}

.mobile__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design {
  margin-right: 17px;
}

.design, .design__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.design__circle {
  width: 90px;
  height: 90px;
  border-color: #4985ff;
  background-color: transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.design__circle:hover {
  background-color: #4985ff;
}

.desing__icons {
  fill: #4985ff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.design__circle:hover .desing__icons {
  fill: #ffffff;
}

.develop-site {
  margin-top: 45px;
}

.develop-site__subtitle {
  margin-bottom: 12px;
}

.develop-site__text {
  font-size: 14px;
  line-height: 1.57;
  color: #999999;
}

.standart {
  padding-top: 110px;
  padding-bottom: 70px;
  background-color: #f6f6f8;
}

.standart__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 90px;
}

.standart__description {
  width: 489px;
}

.standart__section-title {
  margin-bottom: 40px;
}

.standart__page-text {
  margin-bottom: 30px;
}

.details {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #4985ff;
  text-decoration: underline;
}

.standart__list {
  margin-top: 70px;
}

.standart__item {
  margin-right: 100px;
}

.progress-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-wrap__icons {
  fill: #4985ff;
}

.progress-wrap__index {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}

.works {
  padding-top: 100px;
  padding-bottom: 85px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #504dc2), color-stop(50%, #f6f6f8));
  background: linear-gradient(#504dc2 50%, #f6f6f8 50%);
  background-repeat: no-repeat;
}

.works__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.works__section-title {
  color: #ffffff;
}

.works__list {
  padding-bottom: 85px;
}

.works__images, .works__subtitle, .works__text {
  margin-bottom: 30px;
}

.works__order {
  color: #4985ff;
}

.project {
  padding-top: 100px;
  padding-bottom: 130px;
}

.project__section-title {
  margin-bottom: 50px;
}

.project__page-text {
  width: 730px;
  margin: 0 auto 70px;
}

.project__section-title, .project__page-text {
  text-align: center;
}

.project__list {
  margin-bottom: 50px;
}

.section-video {
  padding-bottom: 165px;
}

.video {
  position: relative;
  margin: 0 auto;
  padding-top: 70px;
  height: 570px;
  text-align: center;
  background-image: url(../images/video_section.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video__section-title {
  color: #ffffff;
  margin-bottom: 10px;
}

.video__page-text {
  margin-bottom: 70px;
  font-size: 16px;
  color: #ffffff;
}

.video__content {
  position: absolute;
  bottom: -80px;
  left: calc(50% - 485px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 970px;
  height: 430px;
  background-image: url(../images/video_content.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video__content::before {
  content: "";
  position: absolute;
  bottom: -85px;
  left: 50%;
  width: 1110px;
  height: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e0e0e0;
}

.video__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.video__button:hover, .video__button:focus {
  color: #4985ff;
}

.video__play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4985ff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.video__button:hover .video__play,
.video__button:focus .video__play {
  background-color: #ffffff;
  border-color: #4985ff;
}

.video__icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.video__button:hover .video__icon,
.video__button:focus .video__icon {
  fill: #4985ff;
}

.subscription {
  padding-top: 85px;
  padding-bottom: 85px;
  text-align: center;
}

.subscription__subtitle {
  margin-bottom: 20px;
}

.subscription__page-text {
  margin-bottom: 30px;
}

.subscription__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 36px 15px 26px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.form {
  margin-bottom: 35px;
}

.form__container {
  display: inline-block;
  position: relative;
}

.form__email {
  width: 489px;
  height: 45px;
  padding-left: 33px;
  font-size: 13px;
  line-height: 1.62;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.form__email::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 1.62;
  color: #999999;
}

.form__email:-ms-input-placeholder {
  font-size: 13px;
  line-height: 1.62;
  color: #999999;
}

.form__email::-ms-input-placeholder {
  font-size: 13px;
  line-height: 1.62;
  color: #999999;
}

.form__email::placeholder {
  font-size: 13px;
  line-height: 1.62;
  color: #999999;
}
/*# sourceMappingURL=main.css.map */