.footer {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: $background-color;

    &__list {
        @include flex($align-items: flex-start, $justify-content: space-between);
        padding-bottom: 70px;
        @extend %border-bottom;
    }
      
    &__subtitle {
        display: inline-block;
        margin-bottom: 35px;
    }

    &__copyright {
        margin-top: 30px;
        font-size: 13px;
        line-height: 1.62;
        text-align: center;
        color: $main-text-color;
    }
}
  
  
.footer-submenu {
    &__item {
        margin-bottom: 30px;
    }

    &__icon-address {
        margin-right: 15px;
    }
      
    &__address {
        font-style: normal;
    }
      
    &__icon-arrow {
        margin-right: 10px;
    }
}

  
.footer-submenu__page-text {
    @include flex($justify-content: flex-start);
    font-size: 14px;
    fill: $main-text-color;
    transition: color $transition-duration $transition-timing-function,
      fill $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        color: $accent;
        fill: $accent;
    }
}