.mobile {
  padding-top: 110px;
  padding-bottom: 105px;

  &__section-title {
    width: 739px;
    margin: 0 auto 50px;
    text-align: center;
    color: $secondary-title-color;
  }
  
  &__page-text {
    width: 730px;
    margin: 0 auto 70px;
    text-align: center;
  }
  
  &__list {
    margin-bottom: 55px;
  }
  
  &__list-item {
    @include flex;
  }
}

.design {
  margin-right: 17px;

  &, &__circle {
    @include flex;
    flex-shrink: 0;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid $border-color;
  }
}



.design__circle {
  width: 90px;
  height: 90px;
  border-color: $accent;
  background-color: transparent;
  @include transition;

    &:hover {
        background-color: $accent;
    }
}

.desing__icons {
  fill: $accent;
  transition: fill $transition-duration $transition-timing-function;

  .design__circle:hover & {
    fill: $main-title-color;
  }
}

.develop-site {
  margin-top: 45px;

  &__subtitle {
    margin-bottom: 12px;
  }
  
  &__text {
    font-size: 14px;
    line-height: 1.57;
    color: $main-text-color;
  }
}