.project {
    padding-top: 100px;
    padding-bottom: 130px;

    &__section-title {
        margin-bottom: 50px;
    }
      
    &__page-text {
        width: 730px;
        margin: 0 auto 70px;
    }
      
    &__section-title,
    &__page-text {
        text-align: center;
    }
      
    &__list {
        margin-bottom: 50px;
    }
}