.standart {
    padding-top: 110px;
    padding-bottom: 70px;
    background-color: $background-color;

    &__wrap {
        @include flex($justify-content: space-between);
        padding-bottom: 90px;
        @extend %border-bottom;
    }
      
    &__description {
        width: 489px;
    }
      
    &__section-title {
        margin-bottom: 40px;
    }
      
    &__page-text {
        margin-bottom: 30px;
    }
}
  
  
  
.details {
    @include font(500, 16px, 1.25);
    color: $accent;
    text-decoration: underline;
}

.standart {
    &__list {
        margin-top: 70px;
    }
      
    &__item {
        margin-right: 100px;
    }

}
  
  
.progress-wrap {
    @include flex($justify-content: space-between);

    &__icons {
        fill: $accent;
    }
      
    &__index {
        @include font-w(36px, 1.47);
        color: $black-color;
    }
}
  
  