.standart {
    padding-top: 110px;
    padding-bottom: 70px;
    background-color: $background-color;

    &__wrap {
        @include flex($justify-content: space-between);
        padding-bottom: 90px;
        @extend %border-bottom;
    }
      
    &__description {
        width: 489px;
    }
      
    &__section-title {
        margin-bottom: 40px;
    }
      
    &__page-text {
        margin-bottom: 30px;
    }
}
  
  
  
.details {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $accent;
    text-decoration: underline;
}

.standart {
    &__list {
        margin-top: 70px;
    }
      
    &__item {
        margin-right: 100px;
    }

}
  
  
.progress-wrap {
    @include flex($justify-content: space-between);

    &__icons {
        fill: $accent;
    }
      
    &__index {
        font-size: 36px;
        line-height: 1.47;
        color: $black-color;
    }
}
  
  