.section-video {
    padding-bottom: 165px;
  }
  
.video {
    position: relative;
    margin: 0 auto;
    padding-top: 70px;
    height: 570px;
    text-align: center;
    background-image: url(../images/video_section.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__section-title {
        color: $main-title-color;
        margin-bottom: 10px;
    }
      
    &__page-text {
        margin-bottom: 70px;
        font-size: 16px;
        color: $main-title-color;
    }
}
  
  
  
.video__content {
    position: absolute;
    bottom: -80px;
    left: calc(50% - 485px);
    @include flex($justify-content: space-between);
    width: 970px;
    height: 430px;
    background-image: url(../images/video_content.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        bottom: -85px;
        left: 50%;
        width: 1110px;
        height: 1px;
        transform: translateX(-50%);
        background-color: $border-color;
    }
}
  
  
  
.video__button {
  @include flex($justify-content: space-between);
    min-width: 300px;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 100px;
    border: 1px solid $main-title-color;
    background-color: transparent;
    color: $main-title-color;
    @include font(500, 16px, 1.56);
    cursor: pointer;
    @include transition(color);

    &:hover,
    &:focus {
    color: $accent;
  }
}
  
.video__play {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $accent;
    @include transition(background-color, border-color);

    .video__button:hover &,
    .video__button:focus & {
    background-color: $main-title-color;
    border-color: $accent;
  }
}
  
  
  
.video__icon {
    fill: $main-title-color;
    @include transition(fill);

    .video__button:hover &,
    .video__button:focus & {
    fill: $accent;
  }
}