.works {
    padding-top: 100px;
    padding-bottom: 85px;
    background: linear-gradient(#504dc2 50%, $background-color 50%);
    background-repeat: no-repeat;

    &__wrap {
        @include flex;
        margin-bottom: 70px;
    }
      
    &__section-title {
        color: $main-title-color;
    }
      
    &__list {
        padding-bottom: 85px;
        @extend %border-bottom;
    }
      
    &__images,
    &__subtitle,
    &__text {
        margin-bottom: 30px;
      }
      
    &__order {
        color: $accent;
    }
}