$font: 'Montserrat';

$accent: #4985ff;
$background-color: #f6f6f8;
$main-title-color: #ffffff;
$main-text-color: #999999;
$secondary-title-color: #323232;
$black-color: #000000;
$border-color: #e0e0e0;

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$changes: $transition-duration $transition-timing-function;