$font: 'Montserrat';

$accent: #4985ff;
$main-title-color: #ffffff;
$main-text-color: #999999;
$secondary-title-color: #323232;
$white-color: #ffffff;
$black-color: #000000;


$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);